<!-- <div class="navigation">

	<div *ngFor="let button of navigation">
		<button routerLink="/{{button.route}}">
			{{button.name}}
		</button>
	</div>
	<button (click)="logout()">
		Logout
	</button>

</div> -->
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" routerLink="/">
		<img src="/assets/favicons/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Magnifico
	</a>
	<ul class="nav nav-pills">
		<li *ngFor="let button of navigation" 
			class="nav-item">
			<a class="nav-link"
				routerLink="/{{button.route}}">
				{{button.name}}
			</a>
		</li>
	</ul>
</nav>

<div class="caca">
	<div class="psi"></div>
</div>