<!-- <div class="nav-wrapper">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/assets/favicons/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		<a class="navbar-brand" href="#">Magnifico</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active" *ngFor="let button of navigation">
					<a class="nav-link not-collapse" data-toggle="collapse" data-target="#navbarText"
						(click)="navigate(button)">
						{{button.name}}
						<span class="sr-only">(current)</span>
					</a>
					<a class="nav-link is-collapse"
						(click)="navigate(button)">
						{{button.name}}
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
			<span class="navbar-text">
				<to-cart></to-cart>
			</span>
		</div>
	</nav>
</div> -->

<div class="nav-bar" (window:resize)="onResize($event)">
	<div>
		<img src="/assets/favicons/apple-touch-icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
		<a class="navbar-brand">Magnifico</a>
		<button type="button" class="btn btn-warning responsive-button" *ngIf="isVisibile" (click)="toggleMenu()">
			<i class="fas fa-align-justify"></i>
		</button>
	</div>
	<ul class="nav-zone" [ngClass]="{'toggled': isToggle}" [@slideInOut]="isToggle">
		<li *ngFor="let button of navigation" class="nav-buttons">
			<a class="nav-link"
				(click)="toggleMenu()"
				routerLink="/{{button.route}}"> 
				<!-- (click)="navigate(button)"> -->
				{{button.name}}
				<span class="sr-only">(current)</span>
			</a>
		</li>
		<li>
			<to-cart></to-cart>
		</li>
	</ul>
</div>