<!-- <nav class="navbar navbar-light grid-wrapper">
	<a class="navbar-brand" routerLink="/">
		<img src="/assets/favicons/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Magnifico
	</a>
	<ul class="nav nav-pills">
		<li *ngFor="let button of navigation" 
			class="nav-item">
			<a class="nav-link"
				routerLink="/{{button.route}}">
				{{button.name}}
			</a>
		</li>
	</ul>
	<to-cart></to-cart>
</nav> -->

<nav class="navbar navbar-full navbar-dark bg-primary">
	<button class="navbar-toggler hidden-lg-up" 
		type="button" 
		data-toggle="collapse" 
		data-target="#mainNavbarCollapse">
		&#9776;
	</button>
	<a class="navbar-brand" href="#">
		<img class="img-rounded" src="https://placehold.it/32/ffffff?text=B">
	</a>
	<div class="collapse navbar-toggleable-md" id="mainNavbarCollapse">
		<ul class="nav navbar-nav pull-lg-right">
			<li class="nav-item" *ngFor="let button of navigation">
				<a class="nav-link" routerLink="/{{button.route}}">
					{{button.name}}
					<span class="sr-only">
						(current)
					</span>
				</a>
			</li>
		</ul>
	</div>
	<to-cart></to-cart>
</nav>