// .navbar {
//     display: grid;
//     grid-template-columns: 15% 65% auto;
//     width: 1280px;
//     margin: auto;
// }

// @media screen and (max-width: 768px) {
//     .navbar {
//         grid-template-columns: auto auto auto;
//         width: 100%;
//     }
// }

.nav-wrapper {
	width: 1280px;
	margin: auto;
	.navbar {
		padding: 0.5rem 0;
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		.navbar {
			padding: 0.5rem 1rem;
		}
	}
}