
<div class="products-wrapper">
    <h3 style="padding: 15px">Products</h3>
    
    <mat-progress-spinner mode="indeterminate" style="margin: 60px auto 100px;"
        *ngIf="!products">
    </mat-progress-spinner>
    <div class="product-wrapper">
        <product [product]="product" 
            *ngFor="let product of products">
        </product>
    </div>
</div>

<!-- <div infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()">
</div> -->
