<mat-progress-spinner mode="indeterminate" style="margin: 60px auto 100px;"
	*ngIf="!products">
</mat-progress-spinner>
<swiper [config]="config" [(index)]="index">
	<div *ngFor="let product of products">
		<div class="product-img" 
			[ngStyle]="{'background-image':'url(' + product.img + ')'}">
		</div>
	</div>
</swiper>

<h3>https://jameshenry.blog/typescript-classes-vs-interfaces/</h3>
<h4>"The biggest difference between a class and an interface is that a class provides an implementation of something, not just its shape."</h4>