<div class="nav-cart"
	(mouseenter) ="mouseEnter('div a')"  
	(mouseleave) ="mouseLeave('div A')">
		
		<i class="fas fa-shopping-cart"></i>
		{{products.length || 0}}
		<!-- My cart -->
		<div *ngIf="isVisible" class="my-cart">
			<p>Products in cart</p>
			<ul class="my-cart-products">
				<li *ngFor="let product of products">
					<img style="width:40px;height:40px" src="{{product.img}}" alt="">
					<span>
						{{product.name}}
					</span>
					<span>
						{{product.description}}
					</span>
					<span>
						{{product.price}}
					</span>
				</li>
			</ul>
			<p>
				<b>TOTAL: </b>
				<span>{{products.length || 0}} products</span>
				
			</p>
			<button mat-raised-button
				class="btn-to-cart"
				color="primary"
				routerLink="/cart">
				<i class="fas fa-eye"></i>
				View cart
			</button>
		</div> 
	</div>