<div class="login-container">
	<div class="user-icon">
		<i class="material-icons user-icon-i">person</i>
		<span class="user-text">LOGIN</span>
	</div>
	<button (click)="login('google')">
		Google Login
	</button>
	<button (click)="login('facebook')">
		Facebook Login
	</button>
	<!-- <form novalidate
		autocomplete="off"
		[formGroup]="form"
		(submit)="login()">
		<divr class="input-full-width">
			<input [(ngModel)]="username"
			       name="username"
			       placeholder="Username"
			       required>
		</divr>
		<divr class="input-full-width">
			<input [(ngModel)]="password"
			       name="password"
			       type="password"
			       placeholder="Password"
			       required>
		</divr>
		<div class="register">
			<a routerLink="/register">Register</a>
		</div>
		<button md-raised-button
		        href="url"
		        type="submit"
		        id="button-id"
		        class="md-primary btn-login"
		        aria-label="button-label">
			LOGIN
		</button>
	</form> -->
</div>