<simple-notifications 
	[options]="options">
</simple-notifications>

<div class="admin-container" 
	[@slideLeftRight]="isToggled">
	<div class="aside" 
		(mouseenter)="mouseEnter('div a')"
		(mouseleave)="mouseLeave('div A')">
		<div class="admin-wrapper">
			<div>
				<img src="/assets/favicons/apple-touch-icon.png" 
					width="40" 
					height="40" 
					class="d-inline-block align-top">
				<span>storeApp</span>
			</div>
			<button mat-icon-button
				(click)="toggleLeft()">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<admin-sidenav></admin-sidenav>
	</div>
	<div>
		<admin-toolbar></admin-toolbar>
		<div class="admin-routes" 
			(window:resize)="onResize($event)" 
			[ngStyle]="{'height': styleHeight}">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>