<h4 class="app-title">
	Add product
</h4>
<div class="row">
	<div class="col-md-8">
		<form [formGroup]="rForm" (ngSubmit)="addProduct(rForm.value)" novalidate>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
					class="form-control"
					formControlName="name">
				<small id="emailHelp"
					class="form-text text-muted">
					We'll never share your email with anyone else.
				</small>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Price</label>
				<input type="number"
					class="form-control"
					formControlName="price">
				<small id="emailHelp"
					class="form-text text-muted">
					Product price
				</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Description</label>
				<textarea type="text"
						class="form-control"
						rows="3"
						formControlName="description">
				</textarea>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox"
						class="form-check-input">
						Check me out
				</label>
			</div>

			<div *ngIf="currentUpload">
				<div class="progress">
					<div class="progress-bar progress-bar-animated"
						[ngStyle]="{ 'width': currentUpload?.progress + '%' }">
					</div>
				</div>
				Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
			</div>

			<label>
				<input name="file" type="file" (change)="onFileChange($event)">
   				<input type="hidden" name="fileHidden" formControlName="img"/>
			</label>

			<!-- <button class="btn btn-primary"
					[disabled]="!selectedFiles"
					(click)="uploadImage()">
				Upload Single
			</button> -->

			<br>
			
			<button class="btn btn-primary"
				type="submit"
				[disabled]="!rForm.valid">
				<!-- [disabled]="selectedFiles"> -->
				Add product
			</button>
		</form>
	</div>
	<div class="col-md-4">
		<img *ngIf="url"
			style="width:200px"
			[src]="url">
	</div>
</div>