<div class="grid-container">
	<app-nav></app-nav>
	<div>
		<router-outlet></router-outlet>
	</div>
	<footer>
		<ul>
			<li>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati voluptatem, sed molestiae officia eaque, ea velit accusantium rerum sint veritatis distinctio quae cupiditate. Magni nisi quo harum fugiat sit, et odit, omnis perspiciatis ipsa dolorem veritatis? Accusantium neque eaque nostrum sed quasi illo iure magni nobis temporibus deleniti excepturi debitis dicta, eius veniam cupiditate ex, corporis vel praesentium quos!
				</span>
			</li>
			<li>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati voluptatem, sed molestiae officia eaque, ea velit accusantium rerum sint veritatis distinctio quae cupiditate. Magni nisi quo harum fugiat sit, et odit, omnis perspiciatis ipsa dolorem veritatis? Accusantium neque eaque nostrum sed quasi illo iure magni nobis temporibus deleniti excepturi debitis dicta, eius veniam cupiditate ex, corporis vel praesentium quos!
				</span>
			</li>
			<li>
				<span>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati voluptatem, sed molestiae officia eaque, ea velit accusantium rerum sint veritatis distinctio quae cupiditate. Magni nisi quo harum fugiat sit, et odit, omnis perspiciatis ipsa dolorem veritatis? Accusantium neque eaque nostrum sed quasi illo iure magni nobis temporibus deleniti excepturi debitis dicta, eius veniam cupiditate ex, corporis vel praesentium quos!
				</span>
			</li>
		</ul>
	</footer>
</div>