@import '~swiper/dist/css/swiper.min.css';

.grid-container {
    display: grid;
    grid-template-columns: auto;

    app-nav {
        background: #343b40;
    }
    
    app-footer {
        color: white;
        background: #343b40;
    } 

    @media screen and (max-width: 768px) {
		
	}
}